@{
    ViewData["Title"] = "Free Market Detail";
}

@model DonationModel

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="@Model.Image" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-md-8">
        <h1>@Model.Title</h1>
        <div class="text-muted mb-3">
            @Model.Comment
        </div>
        <ul class="list-group">
            <li class="list-group-item">Donor: @Model.Donor.FirstName @Model.Donor.LastName</li>
            <li class="list-group-item">Email: @Model.Donor.Email</li>
            <li class="list-group-item">Phone: @Model.Donor.PhoneNumber</li>
        </ul>
        <div class="mt-3">
            <button @if (Context.Session.GetString("UserName") == null || Context.Session.GetString("UserName") == Model.Donor.FirstName + " " + Model.Donor.LastName) { <text>disabled</text> } data-bs-toggle="modal" data-bs-target="#confirm" class="btn btn-primary">Accept</button>

        </div>
       
        @if (Context.Session.GetString("UserName") == Model.Donor.FirstName + " " + Model.Donor.LastName)
        {
            <div class="text-muted small">you can not accept your own donation</div>
        }
    </div>
</div>

<div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmLabel">
                    Confirm
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to accept this donation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a asp-controller="Donation" asp-action="Confirm" asp-route-id="@Model.Id">
                    <button type="button" class="btn btn-primary">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>